<!DOCTYPE html>

<html>
  <head>
    <title>This is the home page</title>
  
  </head>


  <body>
    <div id="content">
      <div class="h1">
        <h1>This is the home page</h1>
      </div>

      <%= link_to "learn about us", about_path %>
    </div>
  </body>
</html>